<h1>SwimmingPools#new</h1>
<p>Find me in app/views/swimming_pools/new.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br><br><br>
      <%= form_for @swimming_pool do |f| %>
        <h1 class="h3 mb-3 font-weight-normal text-center">Sign up</h1>
        <div class="form-group">
          <%= f.label :name, "Nom" %><br />
          <%= f.text_field :name, autocomplete: "name", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :adress, "Rue" %>
          <%= f.text_field :adress, autocomplete: "adress", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :city %><br />
          <%= f.text_field :city, autocomplete: "city", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :zipcode, "Code postal" %><br />
          <%= f.text_field :zipcode, autocomplete: "zipcode", class: "form-control" %>
        </div>
        <div class="actions mt-5">
          <%= f.submit "Ajouter sa piscine", class: "btn btn-lg btn-primary btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>